<div class="row separadoVertical">
	<div class="col"></div>
	<div class="col-6 col-md-3">

		<img [src]="userpic" class="profilePic">

	</div>
	<div class="col col-md-1"></div>
	<div class="col-12 col-md-4">

		<div class="card bg-light">
		  <div class="card-header">
			<i class="fa fa-user-circle-o" style="font-size:24px"></i> Usuario 
		  </div>
		  <div class="card-body">
		    <p class="card-text"><i class="fa fa-address-card-o" style="font-size:24px"></i>Nombre: {{username}}</p>
		    <p class="card-text"><i class="fa fa-envelope-open-o" style="font-size:24px"></i>E-mail: {{usermail}}</p>
		  </div>
		  <div class="card-footer text-muted">
		  </div>

		</div>	

	</div>
	<div class="col"></div>
</div>

<div class="row separadoVertical">


	<div class="col-12 col-md-4 separadoVerticalMenor">

		<div class="card text-center border-success bg-transparent">
		  <div class="card-header">
		    Almacenamiento total
		  </div>
		  <div class="card-body">
			<canvas id="storageChartCanvas" width="200" height="200">{{ totalStorageChart }}</canvas>
		  </div>
		  <div class="card-footer text-muted">
			<p> {{storageUsage}} / {{storageLimit}} GB </p> 
		  </div>

		</div>

	</div>

	<div class="col-12 col-md-4 separadoVerticalMenor">

		<div class="card text-center border-info bg-light">
		  <div class="card-header">
		    Almacenamiento en Drive
		  </div>
		  <div class="card-body">
			<canvas id="driveChartCanvas" width="200" height="200">{{ driveStorageChart }}</canvas>
		  </div>
		  <div class="card-footer text-muted">
			<p> {{storageUsageDrive}} / {{storageLimit}} GB </p> 
		  </div>

		</div>

	</div>

	<div class="col-12 col-md-4 separadoVerticalMenor">

		<div class="card text-center border-info bg-light">
		  <div class="card-header">
		    Almacenamiento en Papelera
		  </div>
		  <div class="card-body">
			<canvas id="trashChartCanvas" width="200" height="200">{{ trashStorageChart }}</canvas>
		  </div>
		  <div class="card-footer text-muted">
			<p> {{storageUsageTrash}} / {{storageLimit}} GB </p> 

		  </div>

		</div>

	</div>

</div>

<div class="row separadoVertical">

	<div class="col-12 col-md-4 separadoVerticalMenor">

		<div class="card text-white bg-info mb-3">
		  <div class="card-header">
		    Limites de tamaño de archivos
		  </div>
		  <div class="card-body">

			<p> <strong>Subidas: </strong> {{maxUploadSize}} GB</p>
			<p> <strong>Documentos importados: </strong> {{maxImportSizes.document}} MB</p> 
			<p> <strong>Presentaciones importadas: </strong> {{maxImportSizes.presentation}} MB</p>
			<p> <strong>Hojas de Cálculo importadas: </strong> {{maxImportSizes.spreadsheet}} MB</p>
			<p> <strong>Documentos de Draw importados: </strong> {{maxImportSizes.draw}} MB</p>

		  </div>

		</div>

	</div>

	<div class="col-12 col-md-8 separadoVerticalMenor">

		<div class="card border-warning bg-transparent">
		  <div class="card-body">

			<ngb-tabset>
			  <ngb-tab title="Cambios recientes en archivos">
			    <ng-template ngbTabContent>

			    	<div *ngIf="!fileChanges || !fileChanges.length">
						<p class="card-text">No hay cambios en archivos que mostrar</p>
			    	</div>
			    	<div class="table-responsive" *ngIf="fileChanges&&fileChanges.length">
			    		
				    	<table class="table">
						  <thead>
						    <tr>
						      <th scope="col">#</th>
						      <th scope="col">Nombre</th>
						      <th scope="col">Ubicacion</th>
						      <th scope="col">Modificado</th>
						    </tr>
						  </thead>
						  <tbody>
						    <tr *ngFor="let file of fileChanges; let i = index;">
						      <th scope="row">{{i+1}}</th>
						      <td>{{file.name}}</td>
						      <td> <a [href]="file.webViewLink" target="_blank">Ver</a> </td>
						      <td>{{file.time.getDate()}}-{{file.time.getMonth()+1}}-{{file.time.getFullYear()}}</td>					    
						  </tr>
						  </tbody>
				    	</table>

			    	</div>

			    </ng-template>
			  </ngb-tab>
			</ngb-tabset>

		  </div>
		  <div class="card-footer text-muted">
			<p>  </p> 
		  </div>

		</div>

	</div>

</div>


<div class="row separadoVertical">

	<div class="col-12 col-md-6 separadoVerticalMenor">

		<div class="card border-primary bg-light mb-3">
		  <div class="card-header">
		    Documentos
		  </div>
		  <div class="card-body">

		  </div>

		  <div class="card-footer text-muted">

		  </div>

		</div>

	</div>

	<div class="col-12 col-md-6 separadoVerticalMenor">

		<div class="card border-warning bg-light mb-3">
		  <div class="card-header">
		    Presentaciones
		  </div>
		  <div class="card-body">

		  </div>

		  <div class="card-footer text-muted">

		  </div>

		</div>

	</div>

</div>

<div class="row separadoVertical">

	<div class="col-12 col-md-6 separadoVerticalMenor">

		<div class="card border-success bg-light mb-3">
		  <div class="card-header">
		    Hojas de Cálculo
		  </div>
		  <div class="card-body">

		  </div>

		  <div class="card-footer text-muted">

		  </div>

		</div>

	</div>

	<div class="col-12 col-md-6 separadoVerticalMenor">

		<div class="card border-danger bg-light mb-3">
		  <div class="card-header">
		    Drawings
		  </div>
		  <div class="card-body">

		  </div>

		  <div class="card-footer text-muted">

		  </div>

		</div>

	</div>

</div>

<!--
<button *ngIf="isLogged" type="button" class="btn btn-outline-warning" (click)="signOut()">Salir</button>
-->

<div *ngIf="loading" class="loadingWindow">
	<i class="fa fa-spinner fa-spin" style="font-size:48px"></i>
</div>